body {
  background: black;
}

.header {
  display: table;
  background: url(images/coding.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.title-text {
  text-shadow: 1px 4px 6px #000000;
}

.header .title {
  margin: 0 auto;
  position: relative;
  display: block;
  color: #ffffff;
  font: 400 60px 'Myriad Pro';
}

.header .subtitle {
  margin: 0 auto;
  color: #ffffff;
  font: 700 66px 'Myriad Pro';
}

.header .description {
  margin: 0 auto;
  color: #ffffff;
  font: 700 18px 'Myriad Pro';
}


/*Centralize the main title*/

.space {
  padding: 20%;
}

.btn-pink {
  color: #fffeff;
  font: 700 18px 'Myriad Pro';
  background-color: #C80A48;
  padding: 14px 35px;
  margin-top: 20px;
}

a.btn-pink {
  color: #fff !important;
  text-decoration: none;
}

a.btn-pink:hover {
  background-color: #9f0437;
  color: #fff;
}

p.btn-pink {
  border-radius: 60px 0;
  max-width: 300px;
  margin: 0 auto;
  margin: 10px 0;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
  font-weight: bold;
}

.navbar ul {
  margin-left: 30%;
}

.navbar-default>ul>li>a:hover {
  color: #C80A48 !important;
  text-shadow: none;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #9F0437 !important;
  background-color: #fff !important;
}

.title {
  color: #ffffff;
  font: 700 35px 'Myriad Pro';
}

.paragraph {
  color: #a1a1a1;
  font-family: 'Slabo 27px', serif;
  line-height: 2em;
  font-size: 17px;
  letter-spacing: 1px;
}

.project-description {
  padding: 40px;
}

.project-description .paragraph {
  color: white;
  font-weight: 400;
  font-size: 20px;
}

.subTitle {
  color: #ffffff;
  font: 700 16px 'Myriad Pro';
}

section {
  padding: 80px 0;
  position: relative;
}

section.portfolio {
  padding-bottom: 500px;
  background-image: url(../images/pen.png);
  background-repeat: no-repeat;
  background-size: 600px;
}

section#habilidades {
  padding-bottom: 500px;
}

section#about {
  padding: 0;
}

.about {
  /*background-color: #211e1f;*/
  background-image: url(../images/coffee.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.about-description {
  background-color: #30292b;
  background-image: url(../images/dot.png);
  background-repeat: repeat;
  color: white;
}

.about-text-description {
  padding: 10%;
  font-weight: 200;
}

.about-profile-picture {
  width: 165px;
  margin: 0 auto;
  box-shadow: 4px 6px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
}

.about .img {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 20px;
}

.gray {
  background-color: #171717;
}

p.like::before {
  margin: 10px;
  content: url(../images/like.png);
}

.like-group {
  margin: 0 auto;
  display: table;
}


/*region portfolio*/

.project {
  cursor: cell;
  z-index: 100;
}

.link {
  font-size: 20px;
  background: none;
  color: white;
  position: absolute;
  opacity: 0;
}

.project:hover .link {
  opacity: 1;
}

.icon-circle {
  border-radius: 50%;
  padding: 20px;
  background-color: #C80A48;
  position: absolute;
  left: 45%;
  top: 40%;
}

.project-title {
  color: white;
  width: 100%;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 1px;
  background: none;
  position: absolute;
  top: 60%;
  -webkit-transition: all 1s cubic-bezier(.42, 0, .03, 1.41);
  transition: all 1s cubic-bezier(.42, 0, .03, 1.41);
}

a:hover img {
  opacity: 0.1;
}

a.social:hover img {
  opacity: 1;
}


/*endregion portfolio*/

.icon-services {
  color: #C80A48;
  font-size: 35px;
  padding: 10px;
}

.resumeSquare {
  width: 40px;
  height: 40px;
  color: #c1c1c1;
  background-color: #4C4646;
  padding: 15px;
  margin-top: 60px;
  display: table;
}

.resumeSquare a {
  color: #c1c1c1;
}

.resume {
  display: inline-block;
  width: 100%;
  margin-top: 60px;
  font-size: 14px;
}

div#educacao {
  position: relative;
  margin-top: 30px;
}

.panel-pink {
  display: inline-block;
  width: 100%;
  margin-top: 5%;
}

.progress-bar-gray {
  background-color: #4C4646;
}

.percent {
  z-index: 10;
  position: absolute;
  right: calc(100% - 40px);
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-top: -10px;
  background-color: #C80A48;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  border-radius: 4px;
  box-shadow: 3px 3px 10px #0d0c0d;
}

section#habilidades .subTitle {
  margin-top: 50px;
}

.form-control[type=submit] {
  background-color: #242424;
  border: none;
}

footer {
  padding: 100px;
  position: relative;
}

footer .paragraph {
  margin-top: 10px;
}

.topo {
  top: -10%;
  left: 50%;
  position: absolute;
  margin-left: -30px;
}


/* Slick Dots */

.slick-dotted.slick-slider {
  bottom: 0px!important;
}

.slick-dots li button:before {
  font-size: 10px !important;
  color: #ec5a84 !important;
}

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: #c80a48 !important;
  font-size: 20px !important;
}


/*  Menu adjustments */

.center-menu {
  margin: 0 auto;
  max-width: 1200px;
}

.portfolio-box {
  margin: 0;
  padding: 10px;
  background-color: #c80a48;
  height: 415px;
}


/*responsive adjusts */

@media (max-width: 768px) {
  .header .title {
    color: #ffffff;
    display: block;
    font: 400 30px "Myriad Pro";
    margin: 0 auto;
    position: relative;
    text-align: center;
  }
  .header .subtitle {
    color: #ffffff;
    font: 500 50px "Myriad Pro";
    margin: 0 auto;
  }
  section#habilidades {
    padding-bottom: 80px;
  }
  .resumeSquare {
    margin: 0 auto;
    margin-top: 30px;
  }
  .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    width: 60%;
  }
}

@media (max-width: 550px) {
  .header .title {
    font: 300 20px "Myriad Pro";
    display: block;
    position: relative;
  }
  .header .subtitle {
    font: 500 25px "Myriad Pro";
    line-height: 35px;
  }
  .header .description {
    font: 300 18px "Myriad Pro";
  }
  .space {
    padding: 20% 5%;
  }
  .slick-dots {
    bottom: -25px !important;
  }
}


/* Center about img */

.responsive-container {
  position: relative;
  width: 100%;
  height: 600px;
}

.img-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  /* Align center inline elements */
  font: 0/0 a;
}

.img-container .centerer {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.img-container img {
  vertical-align: middle;
  display: inline-block;
  max-height: 100%;
  /* <-- Set maximum height to 100% of its parent */
  max-width: 100%;
  /* <-- Set maximum width to 100% of its parent */
}
