body {
  background: black;
}

.header {
  display: table;
  background: url(images/coding.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.title-text {
  text-shadow: 1px 4px 6px #000000;
}

.header .title {
  margin: 0 auto;
  position: relative;
  display: block;
  color: #ffffff;
  font: 400 60px 'Myriad Pro';
}

.header .subtitle {
  margin: 0 auto;
  color: #ffffff;
  font: 700 66px 'Myriad Pro';
}

.header .description {
  margin: 0 auto;
  color: #ffffff;
  font: 700 18px 'Myriad Pro';
}


/*Centralize the main title*/

.space {
  padding: 20%;
}

.btn-pink {
  color: #fffeff;
  font: 700 18px 'Myriad Pro';
  background-color: #C80A48;
  padding: 14px 35px;
  margin-top: 20px;
}

a.btn-pink {
  color: #fff !important;
  text-decoration: none;
}

a.btn-pink:hover {
  background-color: #9f0437;
  color: #fff;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
  font-weight: bold;
}

.navbar ul {
  margin-left: 30%;
}

.navbar-default>ul>li>a:hover {
  color: #C80A48 !important;
  text-shadow: none;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #9F0437 !important;
  background-color: #fff !important;
}

.title {
  color: #ffffff;
  font: 700 35px 'Myriad Pro';
}

.paragraph {
  color: #a1a1a1;
  font: 400 16px 'Myriad Pro';
  line-height: 1.4em;
  letter-spacing: 1px;
}

.subTitle {
  color: #ffffff;
  font: 700 16px 'Myriad Pro';
}

section {
  padding: 80px 0;
  position: relative;
}

section.portfolio {
  padding-bottom: 350px;
}

section#habilidades {
  padding-bottom: 500px;
}

section.gray {
  background-color: #171717;
}


/*region portfolio*/

.project {
  cursor: cell;
  z-index: 100;
}

.link {
  font-size: 20px;
  background: none;
  color: white;
  position: absolute;
  opacity: 0;
}

.project:hover .link {
  opacity: 1;
}

.icon-circle {
  border-radius: 50%;
  padding: 20px;
  background-color: #C80A48;
  position: absolute;
  left: 45%;
  top: 40%;
}

.project-title {
  color: white;
  width: 100%;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 1px;
  background: none;
  position: absolute;
  top: 60%;
  -webkit-transition: all 1s cubic-bezier(.42, 0, .03, 1.41);
  transition: all 1s cubic-bezier(.42, 0, .03, 1.41);
}

.hover-image:hover {
  opacity: 0.1;
}


/*endregion portfolio*/

.icon-services {
  color: #C80A48;
  font-size: 35px;
  padding: 10px;
}

.resumeSquare {
  width: 40px;
  height: 40px;
  color: #c1c1c1;
  background-color: #4C4646;
  padding: 15px;
  margin-top: 60px;
  display: table;
}

.resumeSquare a {
  color: #c1c1c1;
}

.resume {
  display: inline-block;
  width: 100%;
  margin-top: 60px;
  font-size: 14px;
}

div#educacao {
  position: relative;
  margin-top: 30px;
}

.panel-pink {
  display: inline-block;
  width: 100%;
  margin-top: 5%;
}

.progress-bar-gray {
  background-color: #4C4646;
}

.percent {
  z-index: 10;
  position: absolute;
  right: calc(100% - 40px);
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-top: -10px;
  background-color: #C80A48;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  border-radius: 4px;
  box-shadow: 3px 3px 10px #0d0c0d;
}

section#habilidades .subTitle {
  margin-top: 50px;
}

.form-control[type=submit] {
  background-color: #242424;
  border: none;
}

footer {
  padding: 100px;
  position: relative;
}

footer .paragraph {
  margin-top: 10px;
}

.topo {
  top: -10%;
  left: 50%;
  position: absolute;
  margin-left: -30px;
}

.mail {
  height: 100px;
  display: block;
  margin: auto;
}


/*  Menu adjustments */

.center-menu {
  margin: 0 auto;
  max-width: 1200px;
}


/*responsive adjusts */

@media (max-width: 700px) {
  .header .title {
    color: #ffffff;
    display: block;
    font: 400 30px "Myriad Pro";
    margin: 0 auto;
    position: relative;
    text-align: center;
  }
  .header .subtitle {
    color: #ffffff;
    font: 500 50px "Myriad Pro";
    margin: 0 auto;
  }
  section.portfolio {
    padding-bottom: 80px;
  }
  section#habilidades {
    padding-bottom: 80px;
  }
  .resumeSquare {
    margin: 0 auto;
    margin-top: 30px;
  }
  .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    width: 60%;
  }
}

@media (max-width: 550px) {
  .header .title {
    font: 300 20px "Myriad Pro";
    display: block;
    position: relative;
  }
  .header .subtitle {
    font: 500 25px "Myriad Pro";
    line-height: 35px;
  }
  .header .description {
    font: 300 18px "Myriad Pro";
  }
  .space {
    padding: 20% 5%;
  }
}
